[Unit]
Description=Dashd Docker Container
Documentation=https://github.com/dashpay/docker-dashd
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=dashd"
Environment="DATA_VOL=dashd-data"
Environment="IMG=dashpay/dashd:dev"
Environment="PORT=9999:9999/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-dashd.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/dash --name ${NAME} -p ${PORT} ${IMG} dash_oneshot $ARGS

[Install]
WantedBy=multi-user.target
